body
{
    margin: 0;
    padding: 0;
    border: 0;
    background: #fff;
    color: #000;
}

img
{
    border: 0;
}

h1
{
    background-color: #DFEFFF;
    padding: 0.25em;
    margin: 0;
}

h1, h2
{
    border-bottom: 1px solid #aaa;
}

#content
{
    margin: 0 !important;
    border: 0 !important;
}

#toc
{
    display: none;
}

ul
{
    list-style-image: url(bullet.png) !important;
}

div#content a.external
{
    background: center right no-repeat url(external.png);
    padding-right: 13px;
}