*.o
*.lo
*.la
*.a
*.gcno
*.gcda
*.c.gcov
*.exe
.deps
.libs
.gitignore
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autotools
config.log
config.status
configure
liblhasa.pc
libtool
config.h
config.hin
rpm.spec
stamp-h1
INSTALL
