name: Fedora Cross MinGW

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        include:
          - { crt: msvcrt, arch: x86   }
          - { crt: msvcrt, arch: amd64 }
          - { crt: ucrt  , arch: amd64 }

    concurrency:
      group: ${{ github.ref }}-${{ github.workflow }}-${{matrix.crt}}-${{matrix.arch}}
      cancel-in-progress: true

    runs-on: ubuntu-latest
    container:
      image: fedora:latest

    steps:
    - name: Install dependencies
      run: dnf -y upgrade --refresh && dnf -y install subversion perl-XML-XPath git mawk zip unzip p7zip xz make binutils gcc gcc-g++ clang pcc pkgconf help2man doxygen autoconf autoconf-archive automake libtool ccache zlib-devel mpg123-devel libogg-devel libvorbis-devel portaudio-devel pulseaudio-libs-devel SDL2-devel flac-devel libsndfile-devel libtool-ltdl-devel
    - name: Install mingw
      run: dnf -y install mingw32-filesystem mingw64-filesystem ucrt64-filesystem mingw-w64-tools mingw32-binutils mingw64-binutils ucrt64-binutils mingw32-gcc mingw32-gcc-c++ mingw64-gcc mingw64-gcc-c++ ucrt64-gcc ucrt64-gcc-c++ mingw32-windows-default-manifest mingw64-windows-default-manifest
    - name: Checkout
      uses: actions/checkout@v4
    - name: fix git
      # https://github.com/actions/runner/issues/2033
      run: chown -R $(id -u):$(id -g) $(pwd)
    - name: Build
      run: make -j$(nproc) AUTO_DEPS=1 CONFIG=mingw-w64 WINDOWS_ARCH=${{matrix.arch}} WINDOWS_CRT=${{matrix.crt}} WINDOWS_VERSION=win10
